
<ng-container *ngIf="!loading else loadingTemplate">
    <h1 class="text">{{post?.title}}</h1>
    <h5 >Comments:</h5>
    <ng-container *ngFor="let item of post?.comments">
        <div class="comment" >
            <u><a [href]="'mailto:'+item.email">{{item.email}}</a></u>
            <p>{{item.body}}</p>
        </div>
        <button class="button">Delete</button>
    </ng-container>
    <h4><u>add Comment:</u></h4>
    <div style="display:flex;flex-direction:row">
        <span >Name:</span> <input style="flex:1" [(ngModel)]="comment.name" type="text">
    </div>
    <br>
    <div style="display:flex;flex-direction:row">
        <span >Email:</span> <input style="flex:1" [(ngModel)]="comment.email" type="text">
    </div>
    <br>
    <div style="display:flex;flex-direction:row">
        <span >Body:</span> <input style="flex:1" [(ngModel)]="comment.body" type="text">
    </div>
    <br>
    <button class="button" (click)="add()">Save</button>
</ng-container>

<ng-template #loadingTemplate>
    <div class="loader" style="margin: auto"></div>
  </ng-template>