<button class="button reset-button"  [disabled]="loading">reset</button>

<div style="margin-top: 8px; margin-bottom: 8px; width: 100%">
  <label style="font-weight: bold; width: 25%">search by (Athor/title)</label>
  &nbsp;&nbsp;
  <input
    #searchText
    class="search-input"
    placeholder="type somthing to filter data"
    type="text"
    [disabled]="loading"
  />
</div>
<ng-container *ngIf="!loading else loadingTemplate">
 
  <table class="post-grid" id="grid">
    <thead>
      <tr>
        <th></th>
        <th class="pointer" [sort]="filterOp.title">post title <i *ngIf="query.sortProp==filterOp.title" class="fa fa-arrow-down " [ngClass]="{'fa-arrow-down':query.sortDir=='desc','fa-arrow-up':query.sortDir==='asc'}"></i></th>
        <th class="pointer" [sort]="filterOp.author" >Author <i *ngIf="query.sortProp==filterOp.author" class="fa fa-arrow-down " [ngClass]="{'fa-arrow-down':query.sortDir=='desc','fa-arrow-up':query.sortDir==='asc'}"></i></th>
        <th># of comments</th>
        <th>image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>
          <i class="fa fa-star" [ngClass]="{ checked: item.favorite }"></i>
        </td>
        <td>
          <a>{{ item.title }}</a>
        </td>
        <td>{{ item.author }}</td>
        <td>{{ item.comments.length }}</td>

        <td><img loading="lazy" [src]="getRandomImage()" alt="not found" /></td>
        <td><i class="fa fa-trash" (click)="deletePost(item)"></i></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loadingTemplate>
  <div class="loader" style="margin: auto"></div>
</ng-template>
