<button class="button reset-button" (click)="reset()" [disabled]="loading">reset</button>

<div style="margin-top: 8px; margin-bottom: 8px; width: 100%">
  <label style="font-weight: bold; width: 25%">search by (Athor/title)</label>
  &nbsp;&nbsp;
  <input
    #searchText
    class="search-input"
    placeholder="type somthing to filter data"
    type="text"
    [disabled]="loading"
  />
</div>
<ng-container *ngIf="!loading else loadingTemplate">
 
  <table class="post-grid" id="grid">
    <thead>
      <tr>
        <th></th>
        <th class="pointer" [sort]="filterOp.title">post title <app-arrow-view *ngIf="query.sortProp==filterOp.title" [query]="query"></app-arrow-view></th>
        <th class="pointer" [sort]="filterOp.author" >Author <app-arrow-view [query]="query" *ngIf="query.sortProp==filterOp.author">  </app-arrow-view></th>
        <th># of comments</th>
        <th>image</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>
          <i (click)="markPost(item)" class="pointer fa fa-star" [ngClass]="{ checked: item.favorite }"></i>
        </td>
        <td>
          {{ item.title }}
        </td>
        <td>{{ item.author }}</td>
        <td> <a [routerLink]="['/main/comment',item.id]">{{ item.comments.length }}</a></td>

        <td><img loading="lazy" [src]="getRandomImage()" alt="not found" /></td>
        <td><i class="pointer fa fa-trash" (click)="deletePost(item)"></i></td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #loadingTemplate>
  <div class="loader" style="margin: auto"></div>
</ng-template>
